.side{
	background-color: #eef;
	margin-top:9px;
}
.p{
	color: #eee;
	font-weight: bold;
}
.login{
	background: #eff;
	padding: 6px;
	margin-top:9px;
}
.changeImage {
	display: block;
	width: 180px;
	height: 40px;
	background-color: #e6e6e6;
	border-color: #adadad;
	border-radius: 0px !important;
	color: #000;
	cursor: pointer;
	font-weight: bold;
	font-size: 17px;
}
.imageFile{
	display: block;
	opacity: 0;
	width: 283px;
	height: 40px;
	margin-top: -40px;
	margin-left: -103px;
}
.choose{
	overflow: hidden;
}
#imagePreview {
    width: 180px;
    height: 180px;
    background-position: center center;
    background-size: cover;
    display: inline-block;
    z-index: 10;
}
.register {
	font-size: 25px;
	color: #001;
	text-align: center;
}

.logout li{
	list-style: none;
	float: left;
}

.user-logout {
	float: right;
}
.home-arena{
	margin-top: 10px;
	margin-bottom: 5px;
	font-size:33px;
}
.search-arena{
	margin-left: 40px;
	margin-top: 10px;
	margin-bottom: 5px;
	width: 520px !important;
}
.fields-arena{
	margin-left:20px;
	margin-top: 10px;
	margin-bottom: 5px;
	font-size:33px;
}
.submit-arena{
	margin-top: 10px;
	margin-bottom: 5px;
}

.user-profile{
	margin-left:20px;
	margin-top: 10px;
	margin-bottom: 5px;
	font-size:33px;
}

.user-logoff{
	margin-top:10px;
	margin-left:40px;
	margin-bottom: 5px;
	font-size:33px;
}
.sidebar-right{
	margin-top:10px;
	margin-bottom: 5px;
	margin-right: 50px;
	font-size:22px;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{
	background-color: transparent !important;
}
.cog{
	margin-right:22px;
	font-size:22px;
}